:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --accent-color: #2196f3;
    --color-title: #212121;
    --color-text: #757575;
    --white-color: #ffffff;
    --bgrnd-color: #2f303a;
    --qwerty-color: #f5f4fa;
    --foot-color: rgba(255, 255, 255, 0.6);
    --black-color: #000000;
    --bgrnd-her: #2f303a;
    --bgrnd-prod: #e5e5e5;
    --some-color: #eeeeee;
    --hero-bgrnd-color: #c4c4c4;
    --logo-fill: #afb1b8;
    --speed-anim: cubic-bezier(0.4, 0, 0.2, 1);
  }